<div id="myDIV" class="header">
    <h2>
        <%= name %> To Do List
    </h2>
    <form action="/tasks" method="POST" onsubmit="return checkEmpty()">
        <input type="text" id="myInput" name="title" placeholder="Create task...">
        <button type="submit" class="addBtn">Add</button>
    </form>
</div>

<ul id="myUL">
    <% if (tasks && tasks.length> 0) { %>
        <% tasks.forEach(task=> { %>
            <li>
                <%= task.title %>
                    <form action="/erase/<%= task.id %>?_method=DELETE" method="POST">
                        <button type="submit" class="close">X</button>
                    </form>
                    <button type="button" class="editBtn" onclick="openModal(<%= task.id %>)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z">
                            </path>
                        </svg>
                    </button>
            </li>
            <% }) %>
                <% } else { %>
                    <li>No tasks yet. Add some!</li>
                    <% } %>
</ul>

<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close modalClose">&times;</span>
        <form id="editForm" method="POST" action="">
            <input type="text" id="editInput" name="editInput" placeholder="Edit task...">
            <button type="submit" class="addBtn">Edit</button>
        </form>
    </div>

</div>